# Required credentials from PhonePe
CLIENT_ID=
CLIENT_VERSION=
CLIENT_SECRET=

# sandbox | production
TSP_ENV=sandbox

# Optional defaults
TSP_TIMEOUT_SEC=30

# Optional (used in other TSP APIs like payments/refunds)
X_MERCHANT_ID=
X_SOURCE=API
X_SOURCE_CHANNEL=web
X_SOURCE_CHANNEL_VERSION=
X_BROWSER_FINGERPRINT=
USER_AGENT=
X_MERCHANT_DOMAIN=
X_MERCHANT_APP_ID=
X_MERCHANT_IP=
X_SOURCE_REDIRECTION_TYPE=MERCHANT_REDIRECTION
